@import "reactflow/dist/style.css";

@font-face {
  font-family: 'ContinuumBold';
  src: url('/fonts/contb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ContinuumMedium';
  src: url('/fonts/contm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* カスタムカーソル */
html,
body,
#__next,
*,
main,
div,
canvas {
  cursor: url("/cursor.png") 0 0, auto !important;
}

a,
button,
[role='button'],
input[type='button'],
input[type='submit'],
input[type='reset'],
select,
label[for] {
  cursor: url("/cursor.png") 0 0, auto !important;
}

a:hover,
button:hover,
[role='button']:hover,
input[type='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover,
select:hover,
label[for]:hover {
  cursor: url("/PrecisionSelect.png") 16 16, pointer !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
